body {
	background-color: #1A1C33;
	color: #fff;
	font-family: Helvetica, Arial, Tahoma, sans-serif;
	text-align: center;
	font-size: 3vm;
}
img {
	width: 100%;
}

embed {
	margin: auto;
	width: 600px;
	font-family: Helvetica, Arial, Tahoma, sans-serif;
	color: #fff;
}

@media screen and (max-width: 600px) {
	embed {
		width:100%;
	}
}
p, li {
	font-family: Helvetica, Arial, Tahoma, sans-serif;
	color: #fff;
}
button {
	color: #fff;
	background-color: #444;
	font-family: Helvetica, Arial, Tahoma, sans-serif;
	padding: 7px 18px;
}
table {
	width: 100%;
}
a {
	color: #fff432
}
