body {
	background-color: #1A1C33;
	color: #fff;
	font-family: Helvetica, Arial, Tahoma, sans-serif;
	text-align: center;
	font-size: 3vm;
}
img {
	width: 80%;
}

embed {
	margin: auto;
	width: 600px;
	font-family: Helvetica, Arial, Tahoma, sans-serif;
	color: #fff;
}

@media screen and (max-width: 600px) {
	embed {
		width:100%;
	}
}
p, li {
	font-family: Helvetica, Arial, Tahoma, sans-serif;
	color: #fff;
}
nav{
	padding: 10px;
}
button {
	color: #fff;
	background-color: #1A1C33;
	font-family: Helvetica, Arial, Tahoma, sans-serif;
	padding: 10px 24px;
	border: 2px solid #fff;
	display: inline-block;
	text-decoration: bold;
	border-radius: 4px;
}
table {
	width: 100%;
}
a {
	color: #fff432
}
